


body {
    background-color: #bbb;
}


#canvas {
    background-color: #fff;
    position        : absolute;
    top             : 20%;
    left            : 0%;
    border-left     : dashed 2px #ccc;
} 